a {
  text-decoration: none;
}

.header {
  background-color: var(--color-primary);
}

.logo {
  max-width: 6em;
}

.text {
  color: var(--color-secondary-dark);
}

.text:hover {
  color: var(--color-accent-purp);
}

.current {
  border-bottom: 5px solid var(--color-primary-purple);
}
