a {
  text-decoration: none;
  list-style-type: none;
}

.nav {
  background-color: var(--color-primary);
}

.text {
  color: var(--color-secondary-dark);
  text-decoration: none;
}

.text:hover {
  color: var(--color-accent-purp);
}
