<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.sitetitle}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/glq5xaj.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navigation</a></li>
  </ul>
  <header role="banner" class="masthead" id="header">
    {% pattern header/header %}
  </header>
  <main role="main" id="main" tabindex="0">
    {{content}}
  </main>
  {% pattern footer/footer %}
</body>
</html>
